<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="profileStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section class="layout">
        <div class="header">
        <h2 class="seven">Profile</h2>     
        </div>
        <div class="container">
   <div class="posts">
   
<img class="profilePic" src="<%= user.profilePic %>">  
        <h2> <%= user.username %> </h2>
        <h2 class="BIO"> <%= user.bio %> </h2>

        <form action="/changeProf" class="page" enctype="multipart/form-data" method="POST">
<Text class="OPD"> Update Profile Pic </Text>
      <input type="file" name="ImageFile" accept="image/*" />
     <input class="lis"> <a href="friendsList.html">Friends</a></input>  
      <input type="text" id="Bio" name="Bio"> <Text class="OPD"> Update Bio </Text><br>
       <input type="text" id="password" name="password"> <Text class="OPD"> Change Password </Text><br>
      <input type="submit" class="button" value="Update">
     
    
    </form>
</div>
    

 

   </div>
</div>
  

        <div class="posts">
           <ul class="uls">
           <li class="lis"> <a href="friends.html">Find Friends</a></li>  
          <li class="lis"><a href="newpost.html">Upload</a></li>  
           
           <li class="lis"> <img src='../Images/Background.png' style="    
         width: 110px;
        height: 110px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        "> </li>    
          <li class="lis"><a href="logout.html">Logout</a></li>  
          <li class="lis"><a href="/app">Posts</a></li>  
        </ul>
      </div>
      
        <script src="scripts/viewposts.js"></script>
</section>
</body>

</html>