<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img.post-image-thumbnail{
            width:10%;
        }
    </style>
</head>
<body>
    <div class="header">
        <h2 class="seven">Posts</h2> 
    </div>

    <div class="posts">
        <ul class="uls">
       <li class="lis"> <a href="login.html">Login</a></li>  
       <li class="lis"> <a href="logout.html">Logout</a></li>  
       <li class="lis"><a href="newpost.html">Upload</a></li>  
       <li class="lis"><a href="index.html">Home</a></li>  
     </ul>
    </div>

 

    <div>
        <ul class="posts" id="recent-posts"></ul>
    </div>

    <script src="scripts/viewposts.js"></script>
    <script>
       var showFormButton = document.getElementById("showFormButton");
    var myForm = document.getElementById("myForm");
    var myForm2 = document.getElementById("myForm2");
    showFormButton.addEventListener("click", function() {
        if (myForm.style.display === "none") {
        myForm.style.display = "block";
        myForm2.style.display = "block";
        toggleFormButton.textContent = "Hide Form";
      } else {
        myForm.style.display = "none";
        myForm2.style.display = "none";
        toggleFormButton.textContent = "Show Form";
      }
    });
    </script>
</body>
</html>